<!-- src/app/applications/interview-entries/interview-entries.component.html -->
@if (loading) {
  <div>Loading…</div>
} @else {
  @if (error) {
    <div>{{ error }}</div>
  } @else {
    <div class="table-container">
      @if (data.length === 0) {
        <div>No interview entries found.</div>
      } @else {
        <table mat-table [dataSource]="data">
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                Company
              </div>
            </th>
            <td mat-cell *matCellDef="let e">{{ e.company }}</td>
          </ng-container>

          <ng-container matColumnDef="job_title">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                Job Title
              </div>
            </th>
            <td mat-cell *matCellDef="let e">{{ e.job_title }}</td>
          </ng-container>

          <ng-container matColumnDef="expected_response_date">
            <th mat-header-cell *matHeaderCellDef>
              <div>
                Expected Response
              </div>
            </th>
            <td mat-cell *matCellDef="let e">
              {{ e.expected_response_date| date:'shortDate':'':(localeService.locale$ | async) ?? 'en' }}
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      }
    </div>
  }
}