<h2 mat-dialog-title>Add Application</h2>
<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Company</mat-label>
    <input matInput formControlName="company">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Job Title</mat-label>
    <input matInput formControlName="job_title">
  </mat-form-field>

   <mat-form-field appearance="fill" class="full-width">
    <mat-label>Link to Job Advertisement</mat-label>
    <input matInput formControlName="link_to_job_advertisement">
  </mat-form-field>


  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Comment</mat-label>
    <input matInput formControlName="comment">
  </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Application Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="application_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit"  [disabled]="!form.valid">Add</button>
  </div>
</form>
