<div class="mat-elevation-z2 table-container">
  <table mat-table [dataSource]="entries" class="mat-table">

    <!-- Company -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef> Company </th>
      <td mat-cell *matCellDef="let e"> {{ e.company }} </td>
    </ng-container>

    <!-- Job Title -->
    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef> Job Title </th>
      <td mat-cell *matCellDef="let e"> {{ e.job_title }} </td>
    </ng-container>

    <!-- Job Posting -->
    <ng-container matColumnDef="jobPosting">
      <th mat-header-cell *matHeaderCellDef> Job Posting </th>
      <td mat-cell *matCellDef="let e"> {{ e.job_posting }} </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let e">
        <mat-form-field appearance="outline">
          <mat-select [value]="e.status" (selectionChange)="updateStatus(e, $event.value)">
            @for (status of statusValues; track status) {
              <mat-option [value]="status">
                {{ statusLabels[status] }}
              </mat-option>
            }feat
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Max Stage -->
    <ng-container matColumnDef="maxStage">
      <th mat-header-cell *matHeaderCellDef> Max Stage </th>
      <td mat-cell *matCellDef="let e">
        @if (e.max_stage === 'none') {
          <button mat-button (click)="onStageChange(e, 'acknowledgment')">
            Received Acknowledgment
          </button>
        } @else {
          {{ getStageLabel(e.max_stage) }}
        }
      </td>
    </ng-container>

    <!-- Application Date -->
    <ng-container matColumnDef="applicationDate">
      <th mat-header-cell *matHeaderCellDef> Application Date </th>
      <td mat-cell *matCellDef="let e"> {{ e.application_date }} </td>
    </ng-container>

    <!-- Last Update -->
    <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef> Last Update </th>
      <td mat-cell *matCellDef="let e"> {{ e.last_update }} </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
