<div class="header-with-button">
  <h1>All applications</h1>
  <button (click)="addApplication()">Add New</button>
</div>

<div *ngIf="loading">Loading…</div>
<div *ngIf="error">{{ error }}</div>

<table *ngIf="!loading && !error">
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Job posting</th>
      <th>Status</th>
      <th>Max Stage</th>
      <th>Application Date</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of entries">
      <td>{{ e.company }}</td>
      <td>{{ e.job_title }}</td>
      <td>{{ e.job_posting}}</td>
      <td>
        <mat-form-field appearance="outline">
          <mat-select [value]="e.status" (selectionChange)="updateStatus(e, $event.value)">
            <mat-option *ngFor="let status of statusValues" [value]="status">
              {{ statusLabels[status] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-select [value]="e.max_stage" (selectionChange)="onStageChange(e, $event.value)">
            <mat-option *ngFor="let stage of stageValues" [value]="stage">
              {{ stageLabels[stage] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>

      <td>{{ e.application_date }}</td>
      <td>{{ e.last_update }}</td>
    </tr>
  </tbody>
</table>
