.table-container {
  max-height: 500px;
  overflow-y: auto;
  display: block;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 2;
  background: white;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
}

.header-with-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

